@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body[data-radix-dropdown-menu-open] {
  overflow: auto !important;
}

@layer base {
  :root {
    --header-font: "Anton",
      "Antonio",
      "Oswald",
      "Open Sans",
      "Helvetica Neue",
      "Segoe UI",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      sans-serif;
    --body-font: "Poppins", "Open Sans", "Arial", Roboto, sans-serif;
    --background: 0 0% 100%;
    --background-75: rgba(255, 255, 255, 0.75);
    --foreground: 0 0% 1%;
    --foreground-85: 0 0% 30%;
    --card: 20, 100%, 98.24%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 191.04, 100%, 60.59%;
    --primary-foreground: 20, 41.18%, 10%;
    --primary-hover: 191.21, 79.82%, 55.29%;
    --secondary: 258.11, 100%, 58.43%;
    --secondary-foreground: 0 0% 98%;
    --secondary-hover: 258.11, 67.09%, 46.47%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 6.4, 71.2%, 50.98%;
    --accent-foreground: 7.08, 100%, 58.43%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --border-cta-nav: none;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --content-width: 1238px;
    --h1-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    --accent-shadow: 4px 4px 16px #000000;
    --search-icon: url("/icons/general/search-icon.svg");
    --pilates: 276.12, 100%, 60.59%;
    --yoga: 331.04, 100%, 60.59%;
    --bodypump: 18, 93.5%, 48.24%;
    --aerobics: 191.02, 88.29%, 56.47%;
    --boxing: 345.17, 87.25%, 40%;
    --cycling: 132.79, 85.12%, 42.16%;
    --slider-gradient: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, transparent 10%, transparent 90%, rgba(255, 255, 255, 0.4) 100%);
    --footer-bg: 0, 0%, 12.16%;
    --dashboard-sidebar-content-width: 216px;
    --dashboard-sidebar-padding: 32px;
    --dashboard-main-container-padding: 64px;
    --dashboard-sidebar-link-padding: 4px 16px;
    --positive: 132.79, 85.12%, 42.16%;
    --neutral: 24.91, 100%, 58.43%;
    --negative: 345.17, 87.25%, 40%;
  }
  .dark {
    --header-font: "Anton",
        "Antonio",
        "Oswald",
        "Open Sans",
        "Helvetica Neue",
        "Segoe UI",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        sans-serif;
    --body-font: "Poppins", "Open Sans", "Arial", Roboto, sans-serif;
    --background: 222.35, 73.91%, 4.51%;
    --background-75: rgba(3, 8, 20, 0.75);
    --foreground: 0 0% 98%;
    --foreground-85: 0 0% 83%;
    --card: 219.38, 94.12%, 6.67%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 7.08, 100%, 58.43%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 6.4, 71.2%, 50.98%;
    --secondary: 258.11, 67.09%, 46.47%;
    --secondary-foreground: 0 0% 98%;
    --secondary-hover: 258.11, 100%, 58.43%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 191.72, 72.5%, 52.94%;
    --accent-foreground: 191.04, 90%, 40.59%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --border-cta-nav: 2px;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --content-width: 1238px;
    --h1-shadow: 4px 4px 32px #000000;
    --accent-shadow: 4px 4px 16px #000000;
    --search-icon: url("/icons/general/search-icon-dark.svg");
    --pilates: 276.12, 100%, 60.59%;
    --yoga: 331.04, 100%, 60.59%;
    --bodypump: 18, 93.5%, 48.24%;
    --aerobics: 190.94, 94.76%, 37.45%;
    --boxing: 345.17, 87.25%, 40%;
    --cycling: 132.79, 70.83%, 37.65%;
    --slider-gradient: linear-gradient(to right, hsl(var(--background)) 0%, transparent 10%, transparent 90%, hsl(var(--background)) 100%);
    --footer-bg: var(--card);
    --dashboard-sidebar-content-width: 216px;
    --dashboard-sidebar-padding: 32px;
    --dashboard-main-container-padding: 64px;
    --dashboard-sidebar-link-padding: 4px 16px;
    --positive: 132.79, 70.83%, 37.65%;
    --neutral: 24.91, 100%, 58.43%;
    --negative: 345.17, 87.25%, 40%;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

p, span, a, button {
  font-family: "Poppins", "Open Sans", "Segoe UI", sans-serif;
}

span, button, a {
  font-weight: 600;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.logo {
  font-family:
    "Oswald",
    "Open Sans",
    "Helvetica Neue",
    "Segoe UI",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  text-transform: uppercase;
}

.hero-h1-shadow {
  text-shadow: var(--h1-shadow);
}

.cta-shadow {
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.5);
}

.cta-shadow-sm {
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5) !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  .scrollbar-thumb-gray {
    scrollbar-color: #888 #f0f0f0;
  }

  /* For WebKit */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: hsl(var(--card));
    border-radius: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: hsl(var(--foreground-85));
    border-radius: 8px;
    transition: background-color 0.3s ease-out;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary-foreground));
  }
}

.search-bar {
  appearance: none;
  outline: none;
  padding: 20px;
  padding-left: 60px;
  border: 2px solid hsl(var(--accent));
  background-color: hsl(var(--card));
  height: fit-content;
  background-image: var(--search-icon);
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 24px 24px;
  transition: border-color 0.2s ease-out;
}

.search-bar::placeholder {
  font-family: var(--body-font);
}

.search-bar:focus {
  border-color: hsl(var(--primary));
}

.galerie-foto-lp-gradient {
  background: linear-gradient(to right, #000000, #2e2e2e 10%, #686868 90%, #000000);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-in {
  animation: scale-in 0.4s ease-out forwards;
}