@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --header-font: "Anton",
      "Antonio",
      "Oswald",
      "Open Sans",
      "Helvetica Neue",
      "Segoe UI",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      sans-serif;
    --background: 0 0% 100%;
    --foreground: 0 0% 1%;
    --foreground-85: 0 0% 30%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 191.04, 100%, 60.59%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 191.21, 79.82%, 55.29%;
    --secondary: 258.11, 100%, 58.43%;
    --secondary-foreground: 0 0% 98%;
    --secondary-hover: 258.11, 67.09%, 46.47%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 6.4, 71.2%, 50.98%;
    --accent-foreground: 7.08, 100%, 58.43%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --border-cta-nav: none;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --content-width: 1238px;
  }
  .dark {
    --header-font: "Anton",
        "Antonio",
        "Oswald",
        "Open Sans",
        "Helvetica Neue",
        "Segoe UI",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        sans-serif;
    --background: 222.35, 73.91%, 4.51%;
    --foreground: 0 0% 98%;
    --foreground-85: 0 0% 83%;
    --card: 219.38, 94.12%, 6.67%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 7.08, 100%, 58.43%;
    --primary-foreground: 0 0% 98%;
    --primary-hover: 6.4, 71.2%, 50.98%;
    --secondary: 258.11, 67.09%, 46.47%;
    --secondary-foreground: 0 0% 98%;
    --secondary-hover: 258.11, 100%, 58.43%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 191.72, 72.5%, 52.94%;
    --accent-foreground: 191.04, 100%, 60.59%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --border-cta-nav: 2px;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --content-width: 1238px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  text-transform: uppercase;
}

p, span, a, button {
  font-family: "Poppins", "Open Sans", "Segoe UI", sans-serif;
}

span, button, a {
  font-weight: 600;
}

.logo {
  font-family:
    "Oswald",
    "Open Sans",
    "Helvetica Neue",
    "Segoe UI",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
  text-transform: uppercase;
}

.hero-h1-shadow {
  text-shadow: 4px 4px 32px #000000;
}

.cta-shadow {
  box-shadow: 0px 0px 32px rgba(255, 255, 255, 0.5);
}

.cta-shadow-sm {
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5) !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
